.page {
  background-color: #f3f3f3;
  font-family: "Inter Regular", Arial, sans-serif;
  font-style: normal;
  line-height: 1.2;
  font-size: 20px;
  color: #000000;
  margin: 0 auto;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
  /* padding: 0 20px; */
}

.page__image_top {
  /* background-color: #ffffff; */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/ScholarSearchHubHeader.jpg");
  /* background-image: url("../../assets/ScholarSearchHubHeader.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  max-height: 576px;
  /* padding: 30px 80px 40px; */
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  z-index: 1;

  color: white;
}
