.main {
  margin: 15px 30px;
}

.main__server-error-message {
  font-size: 26px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards__text {
  margin-left: 30px;
  font-size: 26px;
  font-family: "Inter-Bold", Arial, sans-serif;
  font-weight: bold;
}

.cards__text-articlecount {
  color: #00b1b7;
}

.cards__button-show-more {
  height: 60px;
  width: 130px;
  color: #00b1b7;
  text-align: center;
  margin: 0 auto;
  border-color: #00b1b7;
  border-radius: 30px;
  border-style: solid;
  cursor: pointer;
}

.cards__button-show-more:hover {
  background-color: gray;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .main {
    margin: 30px auto 30px;
  }

  .cards__text {
    margin-left: 15px;
    margin-bottom: 30px;
    font-size: 20px;
  }

  .cards {
    padding-left: 10px;
  }

  .itemcards {
    padding-inline-start: 0px;
  }
}
