.header {
  display: flex;
  padding: 32px 0 28px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: solid;
  border-color: rgba(207, 207, 207, 0.5);
  margin: 0 40px;
}

a {
  text-decoration: none;
}

.header__logo {
  height: 100px;
  width: 100px;
}

.header__title {
  font-size: 26px;
  font-family: "Inter Bold";
  color: #ffffff;
}

.header__button-container {
}

.header__button {
  height: 60px;
  width: 130px;
  color: #00b1b7;
  text-align: center;
  margin-right: 18px;
  border-color: #00b1b7;
  border-radius: 30px;
  border-style: solid;
}

.header__button_transparent {
  height: 60px;
  width: 130px;
  color: #fff;
  margin-right: 18px;
  border-color: #fff;
  border-radius: 30px;
  border-style: solid;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.header__button-image {
  height: 24px;
  width: 24px;
}

.header__loggedin-info {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.header__loggedin-home {
  padding-bottom: 20px;
  border-bottom: solid;
  border-color: rgba(207, 207, 207);
}
