.modal__button-container {
  display: flex;
  flex-direction: row;
  font-size: 16px;
}

.modal__button-main {
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #00b1b7;
  color: #fff;
}

.modal__button-main:hover {
  cursor: pointer;
}

.modal__button-main:disabled {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: default;
}

.modal__button-alternative {
  border: none;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.5);
}

.modal__button-alternative:hover {
  cursor: pointer;
  color: #000;
}
